.tank-container{
  position: relative;
  width: 70%;
  background-color: transparent;
  margin: 0 auto;
}

.tank-item{
  position: relative;
  width: 100%;
  background-color: red;
  margin: 2px;
}

.ti{
  position: relative;
  width: 48%;
  padding: 2px;
}

.left-tank{
  float: left;
  background-color: transparent;
}

.right-tank{
  float: right;
  background-color: transparent;
}

.enter-new-tank{
  position: relative;
}


.tanks-list {
  background-color: #CED8F6;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

th {
  background-color: #A9E2F3;
  padding: 3px;
}

td {
  text-align: center;
}

.tank-search {
  width: 100%;
}

.search-header {
  position: relative;
  width: 60%;
  height: 100px;
  background-color: transparent;
  background-color: #CED8F6;
  text-align: center;
}

.pagination-section {
  text-align: center;
}

.tanks-search-form{
  width: 70%;
  margin-bottom: 20px;
  padding: 3%;
}